body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.footer {
    font-weight:bold;
}
.navbar-inverse{
    background-color:#003080
}
/*Hide description and edit buttons if you would need to scroll for them: smartphone, portrait*/
@media (max-width:500px) {
    .productList td:nth-child(6) {
        visibility: hidden;
        display:none;
    }

    .productList td:nth-child(5) {
        visibility: hidden;
        display: none;
    }

    .productList th:nth-child(5) {
        visibility: hidden;
        display: none;
    }
}

/* column 2 is price*/
.productList td:nth-child(2)
{
    min-width:6em;
    text-align:right;
    padding-right:1em;
}
.productList th:nth-child(2) {
    min-width: 6em;
    text-align: right;
    padding-right: 1em;
}
.btn-default{
    width:8em;
}