@model WebshopM_MVC.Models.ShopItem

@{
    ViewBag.Title = "Product details";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Details")
<p>
    <div class="btn btn-default">
        @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleNumber })
    </div>
    <div class="btn btn-default">
        @Html.ActionLink("Delete", "Delete", new { id = Model.ArticleNumber })
    </div>
    
</p>
