@model WebshopM_MVC.Models.ShopItem

@{
    ViewBag.Title = "Product details";
}

<h2>@ViewBag.Title</h2>
@Html.Partial("_Details")
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticleNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
