@model IEnumerable<WebshopM_MVC.Models.ShopItem>

@{
    ViewBag.Title = "Stock management";
}

<h2>@ViewBag.Title</h2>

<div class="btn btn-default">
    @Html.ActionLink("Add product", "Create")
</div>

@Html.Partial("_ShopItemListCompact")


