@model IEnumerable<WebshopM_MVC.Models.ShopItem>

@{
    ViewBag.Title = "Stock management";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("New product", "Create")

@Html.Partial("_ShopItemListCompact")


